// variables 
$website-width: 1280px;
$main-color: rgb(160, 117, 97);
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$image: url('../dist/img/copper.PNG');


// set text color
@function set-text-color($color) {
    @if (lightness($color) > 50) {
      @return #000;
    } @else {
      @return #fff;
    }
  }